:root {
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);
    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--PaleBlue);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 400px;
    height: fit-content;
    border-radius: 10px;
    background-color: white;
}

.image img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    color: var(--Darkblue);
    font-weight: 900;
    margin: 20px;
    font-size: 25px;
}

.content {
    text-align: center;
    padding: 15px;
}

.content p {
    color: var(--Desaturatedblue);
    line-height: 1.6;
}

.plan {
    display: flex;
    background-color: var(--Verypaleblue);
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.plan a {
    color: var(--BrightBlue);
    font-weight: 700;
}

.plan .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    font-weight: 900;
}

.text span {
    color: var(--Desaturatedblue);
    font-weight: 500;
}

.buttons {
    display: flex;
    flex-flow: column;
    padding: 20px;
    justify-content: space-between;
}

.buttons button:first-child {
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    box-shadow: 0px 7px 14px 0px var(--Desaturatedblue);
    margin: 10px;
    background-color: var(--BrightBlue);
}

.buttons button:last-child {
    background-color: transparent;
    border: none;
    color: var(--Desaturatedblue);
    font-weight: 900;
    cursor: pointer;
    padding: 10px;
}

.plan a:hover {
    text-decoration: none;
    color: hsl(249deg 100% 74%);
}

.buttons button:first-child:hover {
    background-color: hsl(249deg 100% 74%);
    cursor: pointer;
}

@media (max-width:600px) {
    .card {
        width: 330px;
    }
}

